<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.seokwon.blog.mapper.BoardMapper">

    <insert id="boardInsert" parameterType="com.seokwon.blog.domain.BoardVO">
        insert into board_movie
        values
        (#{bno},#{movie},#{subject},#{content},#{writer},now(),0,0,#{thumbnail})
    </insert>

    <select id="boardList" resultType="com.seokwon.blog.domain.BoardVO">
        select * from board_movie
    </select>

    <select id="boardView" parameterType="int" resultType="com.seokwon.blog.domain.BoardVO">
        select * from board_movie where bno = #{bno}
    </select>

    <update id="hitPlus" parameterType="int">
        update board_movie set hit = hit+1 where bno = #{bno}
    </update>

    <update id="recommandPlus" parameterType="int">
        update board_movie set recommand = recommand+1 where bno = #{bno}
    </update>

    <update id="boardUpdate" parameterType="com.seokwon.blog.domain.BoardVO">
        update board_movie set subject = #{subject}, content = #{content} where bno = #{bno}
    </update>

    <delete id="boardDelete" parameterType="int">
    delete from board_movie where bno = #{bno}
    </delete>

</mapper>