<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content= "text/html; charset=UTF-8"/>
    <!-- BootStrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"/>
    <title>게시글 목록</title>
</head>
<body>
<h3>게시글 목록</h3>
<button class="btn btn-primary" style="float : right;">로그인</button>
<button class="btn btn-primary" style="float : right;" onclick="location.href='/board/post'">작성</button>
<table class="table">
    <tr>
        <th>No</th>
        <th>영화제목</th>
        <th>글제목</th>
        <th>작성자</th>
        <th>작성날짜</th>
        <th>조회수</th>
    </tr>
    <tr th:each="board : ${list}">
        <td th:text="${board.bno}">글번호</td>
        <td><span th:text="${board.movie}" href="#">영화제목</span></td>
        <td><a th:href="@{'/board/' + ${board.bno}}" th:text="${board.subject}">글제목</a></td>
        <td th:text="${board.writer}">글쓴이</td>
        <td th:text="${board.reg_date}">글쓴시간</td>
        <td th:text="${board.hit}">조회수</td>
    </tr>
</table>
</body>
</html>