<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content= "text/html; charset=UTF-8"/>
    <!-- BootStrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"/>
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <title>게시글 수정</title>
</head>
<body>
<h3>게시글 수정</h3>
<div style="padding : 30px;">
    <form commandName="BoardVO" th:action="@{/board/post/} + ${board.bno}" th:method="PATCH">
        <div class="form-group">
            <label>제목</label>
            <input type="text" name="subject" th:value="${board.subject}" class="form-control"/>
        </div>
        <div class="form-group">
            <label>내용</label>
            <textarea name="content" class="form-control" rows="5" th:text="${board.content}"></textarea>
        </div>
        <button type="submit" class="btn btn-default">수정</button>
    </form>
</div>
</body>
</html>