<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"/>
  <title>open API</title>
  <style>
  .thumbnail{
      background-color:gray;
      margin:10px;
      width:150px;
      height:150px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .thumbnail.round{
      border-radius: 10%;
    }
  </style>
</head>
<body>

  <form onsubmit="return false">
    <input type="text" name="text" placeholder="검색하세요" id="inputString"/>
  </form>
  <ul id="wrap"></ul>

  <script type="text/template" id="ListTemplate">


  </script>
  <FORM  id="button" style="display:none" ><INPUT type='BUTTON' value='더보기' onclick='buttonclick()'/></FORM>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script th:src="@{/js/openapi.js}"></script>
  <script th:src="@{js/jsonp.js}"></script>
</body>
</html>